$color-light-grey: rgba(0, 0, 0, 0.3);
$color-dark-grey: rgba(0, 0, 0, 0.5);
$color-green: #00b48b;
$color-light-green: rgba(0, 155, 75, 0.85);
$color-white: #fff;
$color-light-blue: #f1f5f8;
$color-blue: #0039a6;
$color-red: rgb(255 0 0 / 0.6);
$color-black: rgb(0 0 0);

$app-background: #edf3f8;
