parameters:
    level: 8
    bootstrapFiles:
            - ./bin/.phpunit/phpunit/vendor/autoload.php
    excludes_analyse:
        - %currentWorkingDirectory%/src/Migrations/*
        - tests/bootstrap.php
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\|_]+::assertExists\(\)#'
#        - '#Call to an undefined method [a-zA-Z0-9\\|_]+::assertCountGreaterThanOrEqual\(\)#'
    banned_code:
        nodes:
            # enable detection of echo
            -
                type: Stmt_Echo
                functions: null

            # enable detection of eval
            -
                type: Expr_Eval
                functions: null

            # enable detection of die/exit
            -
                type: Expr_Exit
                functions: null

            # enable detection of a set of functions
            -
                type: Expr_FuncCall
                functions:
                    - dump
                    - dd
                    - var_dump
                    - print_r
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
