@import "src/assets/styles/app.colors";

.disabled {
  opacity: 0.3;

  .overlay {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10000;
    height: 100%;
  }
}

#criterias {
  position: relative;
  padding: 0;
  text-align: center;

  nav {
    .mat-mini-fab:not([disabled]) {
      background-color: $color-blue;
    }

    .nav-left {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 80px;
      text-align: center;
      background-image: linear-gradient(90deg, rgb(237 243 248) 30%, rgba(237, 243, 248, 0) 100%);
      background-image: -o-linear-gradient(90deg, rgb(237 243 248) 30%, rgba(237, 243, 248, 0) 100%);
      background-image: -moz-linear-gradient(90deg, rgb(237 243 248) 30%, rgba(237, 243, 248, 0) 100%);
      background-image: -webkit-linear-gradient(90deg, rgb(237 243 248) 30%, rgba(237, 243, 248, 0) 100%);
      background-image: -ms-linear-gradient(90deg, rgb(237 243 248) 30%, rgba(237, 243, 248, 0) 100%);

      .move-left {
        i {
          &::before {
            color: $color-white;
          }
        }
      }
    }

    .nav-right {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 80px;
      text-align: center;
      background-image: linear-gradient(90deg, rgba(237, 243, 248, 0) 0%, rgb(237 243 248) 70%);
      background-image: -o-linear-gradient(90deg, rgba(237, 243, 248, 0) 0%, rgb(237 243 248) 70%);
      background-image: -moz-linear-gradient(90deg, rgba(237, 243, 248, 0) 0%, rgb(237 243 248) 70%);
      background-image: -webkit-linear-gradient(90deg, rgba(237, 243, 248, 0) 0%, rgb(237 243 248) 70%);
      background-image: -ms-linear-gradient(90deg, rgba(237, 243, 248, 0) 0%, rgb(237 243 248) 70%);

      .move-right {
        i {
          &::before {
            color: $color-white;
          }
        }
      }
    }
  }
}

.criterias-slider {
  .item {
    width: 300px;
    margin-right: 20px;

    &:first-of-type {
      width: 360px;
      padding-left: 60px !important;
    }

    &:not(:only-child):last-of-type {
      width: 360px;
      margin-right: 0 !important;
      padding-right: 60px !important;
    }
  }
}
