.mat-slider-thumb-label {
  border-radius: 50% 50% 0 !important;
  transform: rotate(45deg) !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}
