{% trans_default_domain 'emails' %}

{% extends 'email/emailBase.html.twig' %}

{% block content %}
    <h1>{{ 'reset_password_request.title' | trans({}, 'emails', requestLocale) }}</h1>

    <spacer size="16"></spacer>

    <p>{{ 'reset_password_request.paragraph0' | trans({}, 'emails', requestLocale) | raw }}</p>

    <spacer size="16"></spacer>

    <p><a href="{{ url }}" class="button" target="_blank">{{ 'reset_password_request.link' | trans({}, 'emails', requestLocale) }}</a></p>
{% endblock %}
