<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-5 align-self-end">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'component.create_election.title1' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
<!--          <p [innerHTML]="'component.create_election.p1' | translate"></p>-->
<!--          <p [innerHTML]="'component.create_election.p2' | translate"></p>-->
<!--          <p [innerHTML]="'component.create_election.p3' | translate"></p>-->

          <form [formGroup]="form" >
            <div class="row">
              <div class="col-md-12">
                <mat-form-field>
                  <mat-label>{{ 'word.election_name' | translate }}</mat-label>
                  <input matInput formControlName="name" autocomplete="off">
                  <mat-error *ngIf="form.get('name').hasError('required')">
                    {{ 'validator.field.required' | translate }}
                  </mat-error>
                  <mat-error *ngIf="form.get('name').hasError('maxlength')">
                    {{ 'validator.field.too_long' | translate: { max: this.form.get('name').errors.maxlength.requiredLength} }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field>
                  <mat-label>{{ 'word.description' | translate }}</mat-label>
                  <textarea matInput
                            formControlName="description"
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="5"
                  ></textarea>
                  <mat-error *ngIf="form.get('description').hasError('maxlength')">
                    {{ 'validator.field.too_long' | translate: '{ max: 4000 }' }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <button mat-button color="primary" class="btn btn-filled" (click)="save()" appMatButtonLoading="" [loading]="loading">
              {{ 'action.create_election' | translate }}
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-5">
      <img src="/assets/images/election/create_election.svg" class="img-fluid mt-5" alt="{{ 'component.create_election.title1' | translate }}" />
    </div>
  </div>
</div>

